<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
#!pip install sqlalchemy==1.3.9
!pip install --upgrade sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp38-cp38-win_amd64.whl (2.1 MB)
Requirement already satisfied, skipping upgrade: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in c:\users\criskores\anaconda\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied, skipping upgrade: typing-extensions>=4.6.0 in c:\users\criskores\anaconda\lib\site-packages (from sqlalchemy) (4.8.0)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.29

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql
#!pip install --upgrade ipython-sql
!pip install --upgrade jupysql

Collecting jupysql
  Downloading jupysql-0.10.10-py3-none-any.whl (95 kB)
Requirement already satisfied, skipping upgrade: jinja2 in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (2.11.2)
Requirement already satisfied, skipping upgrade: sqlalchemy in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (2.0.29)
Requirement already satisfied, skipping upgrade: prettytable in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (3.9.0)
Requirement already satisfied, skipping upgrade: ipython<=8.12.0; python_version <= "3.8" in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (7.19.0)
Requirement already satisfied, skipping upgrade: sqlglot>=11.3.7 in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (18.7.0)
Collecting ploomber-extension
  Downloading ploomber_extension-0.1.0-py3-none-any.whl (193 kB)
Requirement already satisfied, skipping upgrade: ipython-genutils>=0.1.0 in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied, skipping upgrade: ploomber-core>=0.2.7 in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (0.2.14)
Collecting jupysql-plugin>=0.4.2
  Downloading jupysql_plugin-0.4.2-py3-none-any.whl (250 kB)
Requirement already satisfied, skipping upgrade: sqlparse in c:\users\criskores\anaconda\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\criskores\anaconda\lib\site-packages (from jinja2->jupysql) (1.1.1)
Requirement already satisfied, skipping upgrade: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in c:\users\criskores\anaconda\lib\site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied, skipping upgrade: typing-extensions>=4.6.0 in c:\users\criskores\anaconda\lib\site-packages (from sqlalchemy->jupysql) (4.8.0)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\criskores\anaconda\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (5.0.5)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (3.0.8)
Requirement already satisfied, skipping upgrade: backcall in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (0.2.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (50.3.1.post20201107)
Requirement already satisfied, skipping upgrade: pygments in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (2.7.2)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (0.7.5)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (0.17.1)
Requirement already satisfied, skipping upgrade: colorama; sys_platform == "win32" in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (0.4.4)
Requirement already satisfied, skipping upgrade: decorator in c:\users\criskores\anaconda\lib\site-packages (from ipython<=8.12.0; python_version <= "3.8"->jupysql) (4.4.2)
Requirement already satisfied, skipping upgrade: click in c:\users\criskores\anaconda\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (7.1.2)
Requirement already satisfied, skipping upgrade: posthog in c:\users\criskores\anaconda\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied, skipping upgrade: pyyaml in c:\users\criskores\anaconda\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (5.3.1)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in c:\users\criskores\anaconda\lib\site-packages (from jedi>=0.10->ipython<=8.12.0; python_version <= "3.8"->jupysql) (0.7.0)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.7 in c:\users\criskores\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied, skipping upgrade: monotonic>=1.5 in c:\users\criskores\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.5)
Requirement already satisfied, skipping upgrade: python-dateutil>2.1 in c:\users\criskores\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied, skipping upgrade: backoff>=1.10.0 in c:\users\criskores\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.11.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\criskores\anaconda\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.15.0)
Requirement already satisfied, skipping upgrade: urllib3<3,>=1.21.1 in c:\users\criskores\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.25.11)
Requirement already satisfied, skipping upgrade: idna<4,>=2.5 in c:\users\criskores\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\criskores\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2020.6.20)
Requirement already satisfied, skipping upgrade: charset-normalizer<4,>=2 in c:\users\criskores\anaconda\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Installing collected packages: ploomber-extension, jupysql-plugin, jupysql
  Attempting uninstall: jupysql
    Found existing installation: jupysql 0.10.1
    Uninstalling jupysql-0.10.1:
      Successfully uninstalled jupysql-0.10.1
Successfully installed jupysql-0.10.10 jupysql-plugin-0.4.2 ploomber-extension-0.1.0

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
#!pip install -q pandas==1.1.5
!pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\criskores\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in c:\users\criskores\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied, skipping upgrade: tzdata>=2022.1 in c:\users\criskores\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.2 in c:\users\criskores\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied, skipping upgrade: numpy>=1.20.3; python_version < "3.10" in c:\users\criskores\anaconda\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\criskores\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [3]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

++
||
++
++

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [16]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

Running query in 'sqlite:///my_data1.db'

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [24]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'CCA%' limit 5;

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [39]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE "Customer" LIKE '%NASA (CRS)%';

Running query in 'sqlite:///my_data1.db'

+--------------------------+
| SUM("PAYLOAD_MASS__KG_") |
+--------------------------+
|          48213           |
+--------------------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [40]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE "Booster_Version" LIKE 'F9 v1.1';

Running query in 'sqlite:///my_data1.db'

+--------------------------+
| AVG("PAYLOAD_MASS__KG_") |
+--------------------------+
|          2928.4          |
+--------------------------+

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [43]:
%sql SELECT MIN("Date") FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE "Success (ground pad)";

Running query in 'sqlite:///my_data1.db'

+-------------+
| MIN("Date") |
+-------------+
|  2015-12-22 |
+-------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [52]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE "Success (drone ship)" AND "PAYLOAD_MASS__KG_">4000 AND "PAYLOAD_MASS__KG_"<6000;

Running query in 'sqlite:///my_data1.db'

+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

### Task 7




##### List the total number of successful and failure mission outcomes

In [70]:
%sql SELECT COUNT(*),"Mission_Outcome" FROM SPACEXTABLE WHERE "Mission_Outcome" LIKE "%Success%" UNION SELECT COUNT(*),"Mission_Outcome" FROM SPACEXTABLE WHERE "Mission_Outcome" LIKE "%Failure%";

Running query in 'sqlite:///my_data1.db'

+----------+---------------------+
| COUNT(*) |   Mission_Outcome   |
+----------+---------------------+
|    1     | Failure (in flight) |
|   100    |       Success       |
+----------+---------------------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [73]:
%sql SELECT "Booster_Version","PAYLOAD_MASS__KG_" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);

Running query in 'sqlite:///my_data1.db'

+-----------------+-------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |
+-----------------+-------------------+
|  F9 B5 B1048.4  |       15600       |
|  F9 B5 B1049.4  |       15600       |
|  F9 B5 B1051.3  |       15600       |
|  F9 B5 B1056.4  |       15600       |
|  F9 B5 B1048.5  |       15600       |
|  F9 B5 B1051.4  |       15600       |
|  F9 B5 B1049.5  |       15600       |
|  F9 B5 B1060.2  |       15600       |
|  F9 B5 B1058.3  |       15600       |
|  F9 B5 B1051.6  |       15600       |
+-----------------+-------------------+
Truncated to displaylimit of 10.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [101]:
%sql SELECT substr("Date", 6,2),"Booster_Version","Launch_Site" FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE "Failure (drone ship)" AND substr("Date", 0,5) LIKE "%2015%";

Running query in 'sqlite:///my_data1.db'

+---------------------+-----------------+-------------+
| substr("Date", 6,2) | Booster_Version | Launch_Site |
+---------------------+-----------------+-------------+
|          01         |  F9 v1.1 B1012  | CCAFS LC-40 |
|          04         |  F9 v1.1 B1015  | CCAFS LC-40 |
+---------------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [100]:
%sql SELECT "Landing_Outcome", count(*) FROM SPACEXTABLE GROUP BY "Landing_Outcome" ORDER BY count(*) desc;

displaylimit: Value None will be treated as 0 (no limit)

Running query in 'sqlite:///my_data1.db'

+------------------------+----------+
|    Landing_Outcome     | count(*) |
+------------------------+----------+
|        Success         |    38    |
|       No attempt       |    21    |
|  Success (drone ship)  |    14    |
|  Success (ground pad)  |    9     |
|  Failure (drone ship)  |    5     |
|   Controlled (ocean)   |    5     |
|        Failure         |    3     |
|  Uncontrolled (ocean)  |    2     |
|  Failure (parachute)   |    2     |
| Precluded (drone ship) |    1     |
|      No attempt        |    1     |
+------------------------+----------+

In [117]:
#adding the year restriction
%config SqlMagic.displaylimit = None
%sql SELECT "Landing_Outcome", count(*) FROM SPACEXTABLE WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY count(*) desc;

displaylimit: Value None will be treated as 0 (no limit)

Running query in 'sqlite:///my_data1.db'

+------------------------+----------+
|    Landing_Outcome     | count(*) |
+------------------------+----------+
|       No attempt       |    10    |
|  Success (drone ship)  |    5     |
|  Failure (drone ship)  |    5     |
|  Success (ground pad)  |    3     |
|   Controlled (ocean)   |    3     |
|  Uncontrolled (ocean)  |    2     |
|  Failure (parachute)   |    2     |
| Precluded (drone ship) |    1     |
+------------------------+----------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>